@import url("https://fonts.googleapis.com/css?family=Arvo");
body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4;
  font-size: 13px;
  font-family: "Arvo", monospace;
}
@supports (display: grid) {
  body,
html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  display: none;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  background: url("https://i.pinimg.com/474x/58/e7/5b/58e75b65f355cdba997e6733fe4af3d2.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.item:nth-of-type(2) {
    background-image: url("https://i.pinimg.com/474x/5e/1d/b1/5e1db1b1381a18bde0bbdf7d866cfa9f.jpg");
  }
.item:nth-of-type(3) {
  background-image: url("https://i.pinimg.com/474x/ab/3c/d3/ab3cd35b5a9b81346a957a5da338c5da.jpg");
}
.item:nth-of-type(4) {
  background-image: url("https://i.pinimg.com/474x/44/49/0e/44490e229968c35e2e1c0a342c922dba.jpg");
}
.item:nth-of-type(5) {
  background-image: url("https://i.pinimg.com/474x/f6/1e/47/f61e478bb1d18c63bb98897805eac8f8.jpg");
  background-position: 50%;
  background-size: 30%;
}
.item:nth-of-type(6) {
  background-image: url("https://i.pinimg.com/474x/38/04/6c/38046ca64748a22e38c840fbc0c6a49a.jpg");
}
.item:nth-of-type(7) {
  background-image: url("https://i.pinimg.com/474x/be/b2/5c/beb25caeb070867936047db973ed7f3f.jpg");
}
  .item:nth-of-type(8) {
    background-image: url("https://i.pinimg.com/474x/df/2d/2d/df2d2dbc436895a3a8907e2198a13e3a.jpg");
    background-size: 90%;
}
  .item:nth-of-type(9) {
    background-image: url("https://i.pinimg.com/474x/b7/08/05/b7080516e90be6d1fc46726b343acb62.jpg");
    background-size: 80%;
    background-position: 50%;
}
  .item:nth-of-type(10) {
    background-image: url("https://i.pinimg.com/474x/83/64/6b/83646b4c4580aa546162be1fa6d11940.jpg");
}
.item:nth-of-type(11) {
  background-image: url("https://i.pinimg.com/474x/c5/b9/1c/c5b91cb0fbf2947fdafcb108461a0e5a.jpg");
}
.item:nth-of-type(12) {
  background-image: url("https://i.pinimg.com/474x/a1/5e/f3/a15ef317e1bd5e51544b00870fefd5a0.jpg");
}
.item:nth-of-type(13) {
  background-image: url("https://i.pinimg.com/474x/af/8c/0f/af8c0f5a449f16fd321f44d0bd86ef58.jpg");
}
.item:nth-of-type(14) {
  background-image: url("https://i.pinimg.com/474x/c8/31/68/c8316869035aa62264437206ae7e1643.jpg");
}
.item:nth-of-type(15) {
  background-image: url("https://i.pinimg.com/474x/d0/a3/b3/d0a3b3a3f225ea839c9066a4a0378249.jpg");
}
.item:nth-of-type(16) {
  background-image: url("https://i.pinimg.com/474x/cd/4e/63/cd4e631439dc5ef0453e6dc5fe4c4215.jpg");
}
.item:nth-of-type(17) {
  background-image: url("https://i.pinimg.com/474x/23/cc/f4/23ccf40100c676fa5138e928d1b35cad.jpg");
}
.item:nth-of-type(18) {
  background-image: url("https://i.pinimg.com/474x/fc/09/2b/fc092b8d435c55e7a96f316737f3af5d.jpg");
}
.item:nth-of-type(19) {
  background-image: url("https://i.pinimg.com/474x/71/fc/a2/71fca2be70ff5f88d20378e90b148f8f.jpg");
}
.item:nth-of-type(20) {
  background-image: url("https://i.pinimg.com/474x/a2/06/f7/a206f72b333afc49dab3d5e7309de9f5.jpg");
}
.item:nth-of-type(21) {
  background-image: url("https://i.pinimg.com/474x/0b/3f/dc/0b3fdc788ff1bfcfbe5d6907245309b4.jpg");
}
.item:nth-of-type(22) {
  background-image: url("https://i.pinimg.com/474x/03/cc/aa/03ccaaf14a79f5247ded45b3a0a81618.jpg");
}
.item:nth-of-type(23) {
  background-image: url("https://i.pinimg.com/474x/f2/ad/6d/f2ad6d1868424b049bd35b18c4c78ffa.jpg");
}
.item:nth-of-type(24) {
  background-image: url("https://i.pinimg.com/474x/96/71/f3/9671f366a9eac4b040e76c87ad941a57.jpg");
}
.item:nth-of-type(25) {
  background-image: url("https://i.pinimg.com/474x/8c/52/5b/8c525bf883d842b75f893d528db35e71.jpg");
}
.item:nth-of-type(26) {
  background-image: url("https://i.pinimg.com/474x/f4/e7/15/f4e715029aff0fd4fe28a68aea64b9ec.jpg");
}
.item:nth-of-type(27) {
  background-image: url("https://i.pinimg.com/474x/49/b5/c9/49b5c9c30fe384857702475294d0701d.jpg");
}



.item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}
.item--medium {
  grid-row-end: span 2;
}
.item--large {
  grid-row-end: span 3;
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn{
  position: relative;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 15px;
  text-decoration: none;
  margin: 30px 10px;
  border: 2px solid crimson;
  border-radius: 20px;
  padding: 10px 50px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #ff0000;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before{
  background-color: crimson;
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  background-color: crimson;
  width: 100%;
}


.btn2::before{
  background-color: crimson;
  width: 100%;
  height: 0%;
}
.btn2:hover::before{
  background-color: crimson;
  height: 100%;
}
.btn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
  height: 380%;
}
.btn-primary {
  color: #fff;
  background:rgb(219, 120, 196);
}
.btn-primary:hover {
  background: crimson;
  transition: background 0.5s ease-in-out;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.btn::before{
  background: crimson;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: rgb(119, 62, 15);
  color:rgb(179, 177, 51);
  opacity: 1;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {

  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color:rgb(179, 177, 51);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: crimson;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(0, 0, 0);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .food-menu-container img {
    margin: auto;
  }

  .food-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .notifications
  {
    position: absolute;
    visibility: hidden;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
  .notifications
  {
    visibility: hidden;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
.btn3::before{
  background-color: crimson;
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
  height: 380%;
}

.btn4::before{
  background-color: crimson;
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.btn4:hover::before{
  height: 380%;
}


.box-notification{
  position: absolute;
  top: 0px;
  left: 10px;
}
.notifications
{
  position: absolute;
  display: flex;
  justify-content: end;
  width: 50px;
  height: 50px;
  background-color:rgb(0, 0, 0) ;
  background-image: url(https://cdn-icons-png.flaticon.com/128/1156/1156949.png);
  border-radius: 30px;
  box-shadow: border-box;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;

}
.notifications:hover{
  width: 250px;
  height: 65px;
  text-align: left;
  padding: 0 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color:rgb(0, 0, 0);
  transition: all 1.5s;
  background-position: 50%;
  background-size: 10%;
}

.notifications .solid{
  line-height: 60px;
  font-size: 30px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 100%;
}
.notifications .num{
  position: absolute;
  top:0;
  right:0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff0000;
  color: rgb(0, 0, 0);
  text-align: center;
}
.notifications:hover .notification-list{
  margin-top: 50px;
  display: block;
}    
.notification-list
{
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0,0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  display: none;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.notification-list li{
  list-style: none;
  border-bottom:1px solid rgba(0, 0,0, 0.1);
  padding: 8px 0;
  display: flex;
}
.notification-list li:last-child{
  border-bottom: none;
}
.notification-list li .icon
{
width: 24px;
height: 24px;
background: rgb(255, 255, 255);
border-radius: 50%;
text-align: center;
line-height: 24px;
margin-right: 15px;
}
.notification-list li .icon .solid{
  color: #fff;
  font-size: 16px;
  line-height: 24px;


}
.notification-list li .text{
position: relative;
top:3px;
cursor: pointer;

}
.notification-list li:hover .text{
  font-weight: bold;
  color:#ff0000;
}
.cards{
  height: auto;
  max-width: 2000x;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
.cards h2.header{
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.social-services{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-content{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  transition: all .3s ease;
}
.social-content .fab{
  font-size: 70px;
  margin: 16px 0;
}
.social-content > *{
  flex: 1 1 100%;
}
.social-content:hover{
  color: white;
}
.social-content:hover a{
  border-color: white;
  background: white;
}
.social-content-1:hover{
  border-color: #1DA1F2;
  background: #1DA1F2;
}
.social-content-1:hover a{
  color: #1DA1F2;
}
.social-content-2:hover{
  border-color: #E1306C;
  background: #E1306C;
}
.social-content-2:hover a{
  color: #E1306C;
}
.social-content-3:hover{
  border-color: #ff0000;
  background: #ff0000;
}
.social-content-3:hover a{
  color: #ff0000;
}
.social-content h2{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.social-content p{
  font-size: 17px;
}
.social-content a{
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  transition: .3s ease;
}
.social-content a:hover{
  border-radius: 4px;
}
@media (max-width: 900px) {
  .services{
    display: flex;
    flex-direction: column;
  }
}
.body
{
  background-color: #E1306C;
}
